.form-fields {
  @include login-signup-section($white, 0, 25px, 25px, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;

  p { font-size: 2.5em; margin-bottom: 24px }
  .ant-input-prefix { opacity: 0.25 }
  .go, .forgot {
    width: fit-content;
    &:hover { text-decoration: underline; cursor: pointer }
  }
}
