.welcome {
  @include login-signup-section(#6930C3, 25px, 0, 0, 25px);
  @include center-content;
  flex-direction: column;
  b { color: $white !important }
  .text, .login-with { display: flex; flex-direction: column }

  .ant-btn {
    @include center-content;
    width: 200px;
    padding: 20px;
    margin: 10px;
    .anticon { font-size: 32px; margin-top: 8px }
  }
}
