@import '../fonts';
@import '../variables';

body {
  margin: 0;
  font-family: 'Heebo' !important;
  background: #F4F7FA !important;
}

::-webkit-scrollbar {
  width: 8px;

  &-thumb {
    border-radius: 6px;
    background: $greenColor;
    &:hover { background: $darkBlueColor }
  }
}

.header-menu {
  width: 150px;

  li {
    padding: 0.6rem 1rem;
    &:hover { color: $greenColor !important }
  }
}

h1, h4, td, p { color: #42526E !important }
.error { margin: 0; color: red }

.custom-btn {
  background: $pinkColor;
  color: $white;
  padding: 0.3rem 1.7rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &:hover { background: #6930c3 }
  &:disabled { background: #dddddd; cursor: inherit }
}
