@import '../fonts';
@import '../variables';

body {
  margin: 0;
  font-family: 'Heebo' !important;
  background: #F4F7FA !important;
}

::-webkit-scrollbar {
  width: 8px;

  &-thumb {
    border-radius: 6px;
    background: $greenColor;
    &:hover { background: $blueColor }
  }
}

.header-menu {
  width: 150px;

  li {
    padding: 0.6rem 1rem;
    &:hover { color: $greenColor !important }
  }
}

h1, h4, td, p, .ant-col { color: #42526E !important }
.error { margin: 0; color: $redColor }

.change-btn {
  @include custom-btn(#fb743e, $pinkColor);
}

.cancel-btn {
  @include custom-btn($greenColor, $redColor);
}
