.calendar {
  text-align: center;
  margin: 1rem;

  &__content {
    background: $white;
    padding: 1rem;
    border-radius: 12px;

    tbody > tr > td {
      width: 222px;
      height: 60px;
      transition: 0.4s ease-in;
      cursor: pointer;
      &:hover { transition: 0.4s ease-in; background: $tableItemColor }
    }

    .selected {
      background: $tableItemColor;
      font-weight: bold;
      &:hover { transition: 0; background: $tableItemColor }
    }

    .invalid-days {
      pointer-events: none;
      background: $gray;
    }
  }
}
