.create-task {
  margin: 1rem;
  width: 100%;

  &__content {
    background: $whiteColor;
    padding: 2rem;
    border-radius: 12px;
    input, textarea, button { margin: 0.8rem 0 }
    button { margin-right: 0.8rem }
  }
}
