.tasks {
  background: $whiteColor;
  padding: 1rem;
  margin: 1rem;
  border-radius: 12px;
  li { padding: 0.7rem; margin: 0.5rem 0 }
  .delete-icon, .edit-icon { font-size: 1.5em; cursor: pointer }
  .delete-icon { color: $redColor }
  .edit-icon { color: $blueColor }

  .completed {
    background: $gray;
    border-radius: 12px;
    transition: 0.2s ease-out;
  }
}
