.welcome {
  @include login-signup-section(#6930C3, 25px, 0, 0, 25px);
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
  b { color: $whiteColor; vertical-align: super }
  div { display: flex; flex-direction: column; margin: 1rem }

  button {
    @include center-content;
    margin: 0.5rem 1rem;
    .anticon { font-size: 32px; margin-right: 10px }
  }
}
